{% extends "vantry/base.html" %}
{% block "title" %}Your stashes{% endblock %}
{% block "content" %}

{% for storage in storages %}

<h1>{{storage.name}} <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse-{{storage.id}}" role="button" aria-expanded="false" aria-controls="collapse-{{storage.id}}"> V </a> </h1>
<div class="collapse" id="collapse-{{storage.id}}">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div>

{% endfor %}

{% endblock %}